<h1 >CONTACT US </h1>


<body class=<%= controller.controller_name   %>>

  <div id= "body_text">
   We are located in  Auckland and we’re here to help,
  so don’t hesitate to get in touch
    <div>
      Phone: 09956666
      <br>
      25A Invermay Avenue - Mt Roskill
    </div>


    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3190.792201248855!2d174.
  7412569!3d-36.895319099999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d465b3a410437%3A0xb64b
  930c016cc3a4!2s25A+Invermay+Ave%2C+Mt+Roskill%2C+Auckland+1041!5e0!3m2!1sen!2snz!4v1421140320245"
          width="400" height="300" frameborder="0" style="border:0"></iframe>
  </div>

</body>
